/* !!! TODO: Check elements exist, compress shorties*/
.slider-widget { margin: auto; }
.slider
{
	width: 100px;
	float: left;
	margin: 0em;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #cccccc;
}

#ui-slider-handle-value
{
	margin-left: 1.5em;
}

.widget-header
{
	overflow: hidden;
	height: 2em;
}

.widget-header-text
{
	float: left;
}

#one.widget-header { background: lightblue; }

#two.widget-header { background: grey; }

.show-children
{
	float: right;
}

.timer { width: 3em; font-size: 1em; border: solid 4px; border-color: red; }
.timer-add { margin-top: 1em; width: 100%; }
.timer-sub { width: 100%; }
.onoff { margin-top: 50%; }

.light-name { height: 1em; overflow-y: hidden; }
.light-widget { margin: 1em auto 0 auto; }
.light { float: left; width: 5em; overflow: hidden; margin: 0 5px 0 5px; text-align: center; }

.time-item
{
	border: solid 4px grey;
	padding: 0.5em;
	margin-bottom: 0.5em;
	background: #eeeeee;	
}

.program-time { width: 10%; }
.program-date {	width: 20%; }

.programslider-item
{
	border: solid 4px grey;
	padding: 0.5em;
	margin-bottom: 0.5em;
	background: #eeeeee;	
}

.programError { color: #dd0000; }

#groupsPopup
{
	border: solid 4px grey;
	background: #eeeeee;
	width: 200px;
	height: 200px;
	position: absolute;
	display: none;
	z-index: 10;
}

#groupTableCell
{
	width: 50%;
}
#groupTableContainer
{
	width: 100%;
	height: 150px;
}

#slidersCode
{
	width: 100%;
}

.codePreview
{
	float: right;
}

#programsList
{
	width: 100%;
	border: 1px solid black;
}

#item-remove
{
	float: right;
}

#groupsPopupClose { float: right; }

#program-name
{
	width: 40%;
}

#levelSettingsCheckbox
{
	padding: 1em 2em 0em -10em;
}

#levelSettingsSlider
{
	padding: 1em 2em 0em 1em;
}