.light-nameX { height: 1em; overflow-y: hidden; }
.light-widgetX { margin: 1em auto 0 auto; }
.lightX { float: left; width: 5em; overflow: hidden; margin: 0 5px 0 5px; text-align: center; }
.slider-collectionX { float: left; }

.slider-widget { margin: auto; }
.slider
{
	width: 100px;
	float: left;
	margin: 0em;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #cccccc;
	/*padding: 25px;*/
}

#ui-slider-handle-value
{
	margin-left: 1.5em;
}

.widget-header
{
	background: yellow;
	overflow: hidden;
	height: 2em;
}

#red.widget-header
{
	background: red;
}

#yellow.widget-header
{
	background: yellow;
}

.show-children
{
	float: right;
}

.timer { width: 3em; font-size: 1em; border: solid 4px; border-color: red; }
.timer-add { margin-top: 1em; width: 100%; }
.timer-sub { width: 100%; }
.onoff { margin-top: 1em; }

.light-name { height: 1em; overflow-y: hidden; }
.light-widget { margin: 1em auto 0 auto; }
.light { float: left; width: 5em; overflow: hidden; margin: 0 5px 0 5px; text-align: center; }

.time-item
{
	border: solid 4px grey;
	padding: 0.5em;
	margin-bottom: 0.5em;
	background: #eeeeee;	
}

.program-time { width: 10%; }
.program-date {	width: 20%; }

.programslider-item
{
	border: solid 4px grey;
	padding: 0.5em;
	margin-bottom: 0.5em;
	background: #eeeeee;	
}

.programError
{ color: #dd0000; }

#groupsPopup
{
	border: solid 4px grey;
	background: #eeeeee;
	width: 200px;
	height: 200px;
	position: absolute;
	display: none;
	z-index: 10;
}

#levelSettings td
{
	padding-right: 3em;
}

#sliderIDTree
{
	width: 30%;
	height: 40%;
	border: solid 4px grey;
}

#groupTableContainer
{
	width: 120%;
	height: 150px;
}
